<a href="https://colab.research.google.com/github/RizkiNoor16/ind-sentiment-analysyt-nlp/blob/main/Create_a_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!git clone https://github.com/RizkiNoor16/ind-sentiment-analysyt-nlp.git

Cloning into 'ind-sentiment-analysyt-nlp'...
remote: Enumerating objects: 23, done.
remote: Counting objects: 100% (23/23), done.
remote: Compressing objects: 100% (19/19), done.
remote: Total 23 (delta 3), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (23/23), 379.53 KiB | 7.91 MiB/s, done.

In [5]:
import pandas as pd
import numpy as np
import tensorflow as tf

In [6]:
df = pd.read_csv('/content/ind-sentiment-analysyt-nlp/Prepocess-Dataset/Dataset.csv')
df.head()

,Unnamed: 0,Tweet,Label,Panjang_tweet,Jumlah_kalimat
0,0,trs barusan dia reach out aku trs minta tolong...,Fear,122,22
1,1,sumpah ini receh bgt dan not bts related. cm j...,Fear,272,48
2,2,ragu utk bisa beli barang tu karn harganya bis...,Fear,68,12
3,3,bisa gak sih langsung tanggal 11 aja gausah ad...,Fear,92,18
4,4,iya kaan yg lain suka pada coba pd gpp tp tete...,Fear,58,13

,Unnamed: 0,Tweet,Label,Panjang_tweet,Jumlah_kalimat
6884,807,ada beberapa hal yg patut kita berikan dan tid...,Sad,195,34
6437,360,"madam ""sedih"" katanya",Sad,21,3
711,711,belum ge mulai .. kepala udah nyut-nyutan gini...,Fear,68,12
1499,588,ramah tamah rajin marah tak mau mengalah,Anger,40,7
1905,994,"pernah, pas ngomong sama twice, aku bilang tem...",Anger,176,32

In [26]:
from sklearn.model_selection import train_test_split
train_ratio = 0.75
val_ratio = 0.15
test_ratio = 0.10

train_tweet, val_tweet, train_label, val_label = train_test_split(df['Tweet'],
                                                                  df['Label'],
                                                                  test_size = 1-train_ratio,
                                                                  random_state=42)

val_tweet, test_tweet, val_label, test_label = train_test_split(val_tweet,
                                                                val_label,
                                                                test_size =test_ratio/(test_ratio + val_ratio),
                                                                random_state=42)

print(f'Total training sampel {len(train_tweet)} tweet & {len(train_label)} label')
print(f'Total val sampel {len(val_tweet)} tweet & {len(val_label)} label')
print(f'Total test sampel {len(test_tweet)}tweet & {len(test_label)} label')

Total training sampel 5310 tweet & 5310 label
Total val sampel 1062 tweet & 1062 label
Total test sampel 708tweet & 708 label

In [27]:
train_label

2131        Joy
5679    Neutral
6210        Sad
5157    Neutral
7031        Sad
         ...
3772       Love
5191    Neutral
5226    Neutral
5390    Neutral
860        Fear
Name: Label, Length: 5310, dtype: object

In [32]:
from sklearn.preprocessing import OneHotEncoder
one_hot_encoder = OneHotEncoder(sparse=False)
train_labels_one_hot = one_hot_encoder.fit_transform(train_label.to_numpy().reshape(-1,1))
val_labels_one_hot = one_hot_encoder.transform(val_label.to_numpy().reshape(-1,1))
test_label_one_hot = one_hot_encoder.transform(test_label.to_numpy().reshape(-1,1))

train_labels_one_hot

array([[0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 1.],
       ...,
       [0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1., 0.],
       [0., 1., 0., 0., 0., 0.]])

In [33]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
train_label_encoded = label_encoder.fit_transform(train_label.to_numpy())
val_label_encoded = label_encoder.transform(val_label.to_numpy())
test_label_encoded = label_encoder.transform(test_label.to_numpy())

print(train_label_encoded)

[2 4 5 ... 4 4 1]

In [35]:
num_class = len(label_encoder.classes_)
class_names = label_encoder.classes_

num_class, class_names

(6, array(['Anger', 'Fear', 'Joy', 'Love', 'Neutral', 'Sad'], dtype=object))